.back-button {
  font-size: 2rem;
  margin-left: -7px;
}

.page-container {
  .page-title {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
  }
  .delivery-badge {
    font-size: 12px;
    padding: 0.25rem 0.4rem;
    border-radius: 15px;
    text-transform: capitalize;
  }
}

.delivery {
  &-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
  }
  &-thumbnail {
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
  }
  &-name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
  }
}

.compartment-container {
  font-size: 1.1rem;
  margin-bottom: 4rem;
}

.unlock-button {
  text-transform: capitalize;
}