<!-- <ng-container *ngIf="package?.length; else emptyState"> -->
<div>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="package-view-title">Delivery #{{package?.package_id}}</h1>
    <span class="badge rounded-pill badge-primary package-status">{{package?.package_status}}</span>
  </div>
  <div>
    <h5 class="delivery-details-title">Delivery Details</h5>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <img src="{{delivery?.shipper?.shipper_image}}" class="img-fluid rounded" alt="photo of shipper">
        </div>
        <div class="col">
          <div class="d-flex justify-content-start align-items-start flex-column">
            <p class="sm-title">Delivery from {{delivery?.shipper?.shipper_name}}</p>
            <p>{{delivery?.delivered_at}}</p>
            <p>{{delivery?.delivery_location}}</p>
            <p>{{delivery?.delivery_address}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="banner-button shadow rounded">
      <i class="bi bi-archive"></i>
      <div>
        <p class="banner-title">Register your unit</p>
        <p class="banner-desc">Enable delivery to your specific unit by registering it with BlueBox.</p>
      </div>
    </div>
    <div class="banner-button shadow rounded">
      <i class="bi bi-pencil-square"></i>
      <div>
        <p class="banner-title">Contact Support Team</p>
        <p class="banner-desc">Get help with any questions or issues you're experiencing.</p>
      </div>
    </div>
  </div>
  <img src="https://placehold.co/600x100" class="img-fluid rounded mb-3" alt="ad space">

  <div class="container mb-4">
    <div class="row">
      <div class="col compartment-info">
        <p class="sm-title compartment-title">Pick-up Code</p>
        <span class="compartment-desc">{{delivery?.compartment?.pickup_code}}</span>
        <i class="bi bi-copy"></i>
      </div>
      <div class="col compartment-info">
        <p class="sm-title compartment-title">Compartment</p>
        <span class="compartment-desc">{{delivery?.compartment?.compartment_number}}</span>
      </div>
    </div>
  </div>

  <!-- <ng-container *ngIf="!delivery?.compartment?.is_open"> -->
  <button type="button" class="btn btn-primary">Unlock Compartment</button>
</div>

<ng-template #emptyState>
  <div class="card-shadow flex-column contact-container empty-state d-flex align-items-center justify-content-center">
    <h4>There is no package...</h4>
  </div>
</ng-template>