<ion-content class="ion-padding" *ngIf="package && delivery; else emptyState">
  <ion-icon name="chevron-back" aria-label="back button" class="back-button"></ion-icon>

  <ion-grid class="ion-no-padding ion-margin-vertical page-container">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col>
        <h1 class="page-title">Delivery #{{package.package_id}}</h1>
      </ion-col>
      <ion-badge class="delivery-badge" color="tertiary">{{package.package_status}}</ion-badge>
    </ion-row>
  </ion-grid>

  <section class="delivery-container ion-margin-vertical">
    <p class="delivery-title">Delivery Details</p>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-justify-content-start ion-align-items-center">
        <ion-col size="auto" class="ion-padding-end">
          <img class="delivery-thumbnail" src="{{delivery.shipper.shipper_image}}" alt="photo of shipper">
        </ion-col>
        <ion-col>
          <p class="delivery-name">{{delivery.shipper.shipper_name}}</p>
          <p class="delivery-time">{{delivery.delivered_at}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="compartment-container">
    <compartment-item
      title="Location"
      [contents]="[this.delivery.delivery_location, this.delivery.delivery_address]">
    </compartment-item>

    <ion-grid class="ion-no-padding ion-margin-vertical">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col>
          <compartment-item 
            title="Pick-up Code" 
            [contents]="[delivery.compartment.pickup_code]">
          </compartment-item>
        </ion-col>
        <ion-col>
          <compartment-item 
            title="Compartment" 
            [contents]="[delivery.compartment.compartment_number]">
          </compartment-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
    
  <section class="banner-button-container">
    <ion-grid class="banner-button-item ion-margin-vertical">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto" class="ion-padding-end">
          <ion-icon name="home-outline" aria-hidden="true" class="banner-button-icon"></ion-icon>
        </ion-col>
        <ion-col>
          <p class="banner-button-title">Register Your Unit</p>
          <p class="banner-button-desc">Enable delivery to your specific unit by registering it with BlueBox.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="banner-button-item ion-margin-vertical">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto" class="ion-padding-end">
          <ion-icon name="mail-outline" aria-hidden="true" class="banner-button-icon"></ion-icon>
        </ion-col>
        <ion-col>
          <p class="banner-button-title">Contact Support Team</p>
          <p class="banner-button-desc">Get help with any questions or issues you're experiencing.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <ng-container *ngIf="!delivery?.compartment?.is_open">
    <ion-button expand="block" size="large" class="unlock-button">Unlock Compartment</ion-button>
  </ng-container>
</ion-content>

<ng-template #emptyState>
  <div>
    <h4>There is no package...</h4>
  </div>
</ng-template>