.back-button {
  font-size: 2rem;
}

.page-container {
  .page-title {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
  }
  .delivery-badge {
    font-size: 12px;
    padding: 0.25rem 0.4rem;
    border-radius: 15px;
    text-transform: capitalize;
  }
}

.delivery {
  &-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
  }
  &-thumbnail {
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
  }
  &-name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
  }
}

.banner-button {
  &-item {
    padding: 1rem 1.5rem;
    border: 1px solid black;
    border-radius: 5px;
  }

  &-icon {
    font-size: 2.5rem;
  }

  &-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
  }

  &-desc {
    color: gray;
  }
}

.compartment-container {
  font-size: 1.1rem;
}

.unlock-button {
  text-transform: capitalize;
}