.package-view-title {
  margin: 0;
}

.package-status {
  color: var(--bs-pink);
  background-color: #f7d6e6;
  text-transform: capitalize;
}

.sm-title {
  font-size: 14px;
  font-weight: 600;
}

.btn-primary {
  width: 100%;
}

.delivery-details-title {
  margin-bottom: 12px;
}

.banner-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 24px;
  margin: 12px 0;

  .bi {
    text-align: center;
    min-width: 52px;
    font-size: 24px;
  }

  .banner-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .banner-desc {
    color: gray;
    line-height: 1.25;
  }
}

.compartment-info {
  .compartment-title {
    
  }
  .compartment-desc {
    font-size: 16px;
    font-weight: 600;
    color: #0d6efd;
  }

  .bi {
    padding-left: 4px;
  }
}